/* 
    https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd 
*/

@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

:root {
    /* COLOR */
    --bg-color: rgba(255, 255, 255); /* #FFFFFF */
    --color-dark-gray: rgba(15, 15, 15); /* #0F0F0F */
    --color-gray-1-100: rgba(135, 135, 135); /* #878787 100% opacity */
    --color-gray-1-70: rgba(135, 135, 135, 0.7); /* #878787 70% opacity */
    --color-gray-1-50: rgba(135, 135, 135, 0.5); /* #878787 50% opacity */
    --color-gray-2: rgba(249, 249, 249); /* #F9F9F9 */
    --color-gray-3: rgba(239, 239, 239); /* #EFEFEF */
    --accent-color: rgba(245, 138, 30); /* #F58A1E */
    --accent-color-hover: rgba(212, 104, 43); /* #D4682B */

    /* SPACING */
    --space-8: 0.5rem /* 8px */;
    --space-16: 1rem; /* 16px */
    --space-24: 1.5rem; /* 24px */
    --space-32: 2rem; /* 32px */
    --space-40: 2.5rem; /* 40px */
    --space-48: 3rem; /* 48px */
    --space-56: 3.5rem; /* 56px */
    --space-64: 4rem; /* 64px */
    --space-72: 4.5rem; /* 72px */
    --space-80: 5rem; /* 80px */
    --space-88: 5.5rem; /* 88px */
    --space-96: 6rem; /* 96px */
    --space-104: 6.5rem; /* 104px */
    --space-112: 7rem; /* 112px */
    --space-120: 7.5rem; /* 120px */
    --space-128: 7.5rem; /* 128px */

    /* FONT-SIZE */
    --font-size-14: 0.875rem;/* 14px */
    --font-size-40: 2.5rem;/* 40px */

    /* OTHER */
    --border-radius-input: 5px;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
}

html {
    padding: var(--space-24);
    height: 100%;
}

* {
    box-sizing: border-box;
}